[2016-05-13 11:47] masalmon opened #1 "Throttle limit"
"The free plan has a limit of 20 requests per minute that allow you to do up to 4,000 queries per minute." -> control this!

[2016-05-13 11:47] masalmon opened #2 "Appveyor CI"

[2016-05-13 11:47] masalmon opened #3 "Travis CI"

[2016-05-13 11:47] masalmon opened #4 "Tests"

[2016-05-13 11:48] masalmon opened #5 "Add a column with text number"

[2016-05-13 11:52] #2 closed

[2016-05-13 11:52] #3 closed

[2016-05-13 12:09] #5 closed

[2016-05-13 12:11] masalmon opened #6 "Find IDs of classifiers and extractors"
Add data / add a function for finding them from the API

[2016-05-13 12:41] masalmon opened #7 "add parameters"
some modules have parameter, that the user could enter as a list

[2016-05-13 12:42] masalmon opened #8 "look at request status!"

[2016-05-13 14:50] #8 closed

[2016-05-13 14:58] masalmon commented on #1
Email sent to Monkeylearn to understand better the throttle limit + ask whether there is a size limit on each request.

[2016-05-13 16:01] masalmon commented on #1
Answer:
- I don't understand the sentence of the FAQ about the throttle limit "The free plan has a limit of 20 requests per minute that allow you to do up to 4,000 queries per minute." Should minute be second or day in one of the occurences?

Within the free plan, you can make up to 20 requests per minute. You can use batch to send up to 200 texts to be analyzed within our API (classification or e

[2016-05-15 14:56] masalmon commented on #6
There is no list of public modules so I'd have better add a small list in details + the vignette.

[2016-05-15 18:16] #1 closed

[2016-05-17 13:25] masalmon commented on #6
added examples to the README

[2016-05-17 13:25] #6 closed

[2016-05-17 13:25] masalmon opened #9 "copy the README in a vignette"

[2016-05-17 13:25] masalmon commented on #7
actually I could no re-find a module that needs parameters, I need to look again to find an example.

[2016-05-19 08:30] #7 closed

[2016-05-19 08:34] #9 closed

[2016-07-20 10:37] maelle opened #10 "add graphs to the README"
See @leeper's comment in https://github.com/ropensci/onboarding/issues/45

[2016-07-30 12:47] #4 closed

[2016-08-26 13:12] masalmon commented on #10
Or maybe a link to the post prepared in https://github.com/masalmon/first_7_jobs once it's published, possibly "stealing" one bar plot from it.

[2016-09-08 06:29] bkesha opened #11 "Error There is no package called 'DBI', laxy loading failed for package monkey learn"
Please review this error.

Error in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]) :
  there is no package called 'DBI'
ERROR: lazy loading failed for package 'monkeylearn'
* removing 'C:/Users/keshavPC/Documents/R/win-library/3.3/monkeylearn'
Error: Command failed (1)

[2016-09-08 07:12] masalmon commented on #11
@bkesha do you get this error on loading the package (`library("monkeylearn")`) or when trying to install it?

[2016-09-08 07:15] masalmon commented on #11
And does `library(dplyr)` work?

[2016-09-08 16:19] masalmon opened #12 "Eliminate the dplyr dependency"
Thanks to @mkearney for the inspiration :smile:

It would eliminate issues such as https://github.com/ropenscilabs/monkeylearn/issues/11 when `dplyr` is not up-to-date.

I just need to replace `dplyr::bind_rows` to deal with headers sometimes having different columns.

[2016-09-10 09:34] #12 closed

[2016-09-10 09:35] masalmon commented on #12
Note: dplyr is still a Suggests dependency because of the vignette with the Gutenbergr example.

[2016-09-10 10:11] masalmon commented on #11
@bkesha now that `dplyr` is only suggested, can you install the package? `dplyr` is still needed for one vignette but you can use the package without it.

[2016-09-11 07:37] masalmon commented on #10
Link to the post added.

[2016-09-11 07:41] masalmon commented on #11
@bkesha now you can also try installing the package from CRAN via `install.packages("monkeylearn")`. Please re-open if you have the problem again.

[2016-09-11 07:41] #11 closed

[2016-11-15 18:08] asjlyle opened #13 "Using Keyword Extractor returns error if no keyword is found"
If no keyword is found using the keyword extractor then an error is returned e.g running

monkeylearn_extract(request = "hello", extractor_id = "ex_y7BPYzNG")

returns the error:

Error in vapply(temp$result, nrow, FUN.VALUE = 0) :
  values must be length 1,
 but FUN(X[[1]]) result is length

Meaning this function breaks loops if trying to iterate over rows in a data frame.

Is there any solution

[2016-11-15 19:25] masalmon commented on #13
Great catch @asjlyle, thanks for reporting this bug!

I've just committed a change, now you'd get

[code]

Does this solve your problem?

[2016-11-22 06:07] chrisdowsett opened #14 "HTTP/2 Framing layer error"
Hi

I'm using a proxy with the monkey learn api. I can download the library OK. I can also see my classifier  when I use: monkeylearn_classifiers(private = FALSE, key = monkeylearn_key(quiet =                                                TRUE))

**But when I run through the examples I get hit with the following:**

Error in curl::curl_fetch_memory(url, handle = handle) :
  Stream error in the HT

[2016-11-22 10:43] jeroenooms commented on #14
This problem appears when the server has malconfigured http2 layer. I assume you're on windows?

[2016-11-22 10:45] jeroenooms commented on #14
Can you try installing the development version of the curl package and see if this helps? You can't install curl with devtools because devtools uses curl. You need to restart to a clean empty R session and run:

[code]

[2016-11-22 21:23] chrisdowsett commented on #14
Thanks for the reply - yep on a windows machine. Ok, I think I'm getting closer. So I removed previous CURL package. Restarted RStudio & started the R session.

Then I used the install code above and I got the following response which I've not seen before when installing a package:
`trying URL 'https://github.com/jeroenooms/curl/archive/master.tar.gz'
Content type 'application/x-gzip' length unkno

[2016-11-23 21:35] asjlyle commented on #14
I am on windows and experiencing the same issue, though everything was working fine last week so I'm not sure what has changed.

[2016-11-23 22:06] masalmon commented on #13
@asjlyle was *this* problem solved by the way?

[2016-11-23 22:07] masalmon commented on #14
@asjlyle and using @jeroenooms solution also fails?

[2016-11-23 22:11] asjlyle commented on #13
@masalmon I wasn't able to test it unfortunately. As a work around at the time I used try() in the loop so that when the monkeylearn_extract function returned an error it skipped it. I will test it as soon as I can, but right now I am experiencing an an issue meaning I can't run the monkeylearn functions at the moment (other open issue about curl error)

[2016-11-23 22:18] jeroenooms commented on #14
I released a new version of `curl` to cran, so hopefully windows builds are available later this week. Not sure if that will fix it, but I can't help you debug it without a reproducible example.

[2016-11-24 06:10] masalmon commented on #13
Ok @asjlyle, no problem 😊

[2016-11-24 09:53] masalmon commented on #14
Oops I realize *I* experience the bug too, bad practice to have packed my examples in don't run on Appveyor. I could install `curl` dev version but it didn't change anything.

@fecotryo nothing changed in the API for classifiy and extract in the last week?

[2016-11-24 09:55] masalmon commented on #14
the `monkeylearn_classifiers` function works well but it's a `GET` not a `POST` call.

[2016-11-24 10:01] masalmon commented on #14
Might be similar to https://github.com/r-hub/rhub/issues/32

[2016-11-24 10:02] masalmon commented on #14
and similar to https://github.com/r-hub/rhub/issues/19

[2016-11-24 12:30] masalmon commented on #14
@chrisdowsett and @asjlyle can you please install the development version of `monkeylearn`? The problem should have been fixed by @jeroenooms's PR.

[2016-11-24 20:18] feconroses commented on #14
Hey @masalmon, we are taking a look at this issue! Most probably tomorrow we will circle back to you :)

[2016-11-26 11:51] asjlyle commented on #14
@masalmon I have downloaded the package again and still no luck. Please let me know how to install the development version if you think this will help. Many Thanks

[2016-11-26 11:54] masalmon commented on #14
Hi @asjlyle, do you have `devtools` installed? If you don't, you can get it with `install.packages("devtools") ` and then

[code]
will install the development version of this package which has @jeroenooms awesome fix.

I haven't submitted the update to CRAN because @feconroses said Monkeylearn was looking at the issue on their side (which would make the CRAN version work again)

Thanks a lot for y

[2016-11-26 11:56] masalmon commented on #13
It looks like an obstacle course @asjlyle, I'm sorry about that and really hope installing the development version will solve all your problems and if it doesn't we'll find a solution.

[2016-11-26 12:13] asjlyle commented on #14
@masalmon thanks for all your help. Unfortunately it's still not working for me and throwing an error about the memoise package. I'm not familiar with downloading and loading devtool packages so any pointers let me know.

Error in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]) :
  there is no package called ‘memoise’

Error in loadNamespace(j <- i[[1L]], c(lib.loc, .l

[2016-11-26 12:14] masalmon commented on #14
@asjlyle sure, happy to help. Can you try `install.packages("memoise")` and then `devtools::install_github("ropenscilabs/monkeylearn")` ?

 Going to lunch now, will be back after that.

[2016-11-26 12:20] asjlyle commented on #14
Thanks,

It returns the error below, so looks like it's my version of R which is the latest version.

install.packages("memoise")
Installing package into ‘C:/Users/user1/Documents/R/win-library/3.3’
(as ‘lib’ is unspecified)
Warning in install.packages :
  package ‘memoise’ is not available (for R version 3.3.2)

[2016-11-26 12:39] masalmon commented on #14
Oh no it looks like dependencies hell right now. Can you give me your email address? Mine is maelle.salmon at yahoo.se I'll send you a .tar.gz of the development version, then in RStudio you'll be able to indicate where the .tar.gz is and the paclage will get installed.

[2016-11-26 13:07] masalmon commented on #14
By the way it was a warning, not an error, so maybe the command `devtools::install_github("ropenscilabs/monkeylearn") ` would work now but please install with the .zip, it should be easier.

[2016-11-26 14:19] maelle opened #16 "New issue - works every second time approximately"
From @asjlyle and I get it too. The example is
[code]

What happens is:

![image](https://cloud.githubusercontent.com/assets/8360597/20640871/a2537a3a-b3eb-11e6-9693-bedf11c3c86e.png)

@feconroses is something up with the service today? @jeroenooms it doesn't look like a problem on `curl` side, right?

[2016-11-26 14:25] masalmon commented on #16
@asjlyle so right now maybe make each call twice until it works... but that is clearly not a sustainable solution.

[2016-11-26 22:39] gonz commented on #16
@masalmon @juliasilge We found a misconfiguration in our api loadbalancer, we have deployed a fix so everything should be working as usual now. Sorry for the inconvenience, we'll review the issue so this won't happen again. Thank you for the report, let me know if you need anything from our side.

[2016-11-27 06:14] masalmon commented on #16
Thank you @gonz ! @asjlyle I hope I'll be ok now 😀

[2016-11-29 05:00] chrisdowsett commented on #14
I just gave it a shot using the devtools but ran into an issue with "tibble" dependency not available for package. @masalmon I'll shoot you an email too for the tar.gz version too if that's ok.
Here is my error message in case of interest:

[code]

[2016-11-30 22:38] asjlyle commented on #16
@masalmon @gonz the development version is working slightly better but still isn't usable, the live version on cran still throws the http2 error. Unfotunately  with the development one I'm getting a new error which is below. I'm only looping through 50 comments and it's been running for 10 minutes and still isn't finished. It's throwing the error below about half the time sporadically.

Error in c

[2016-12-01 05:18] masalmon commented on #16
@asjlyle let's see what @gonz says. Do you still use a try () in your loop? Maybe I need to add a Sys.sleep call in my code, In the meantime maybe you can add a Sys.sleep call in your loop?

[2016-12-01 15:37] gonz commented on #16
@asjlyle @masalmon

About the http2 error: **We currently recommend and support `http 1.1`, we do not support `http 2` officially**. `http 2` used to work fine but due to some load balancing related improvements we made recently it's not working reliably anymore. @masalmon we advice you to use `http 1.1` internally until we officially support `http 2`, we're working on this since you reported the

[2016-12-02 09:08] masalmon commented on #16
@gonz thanks, @jeroenooms changed the package so that internally it no longer uses `http2`. (it used to use it because it was available)

[2016-12-02 15:26] gonz commented on #16
@masalmon Yeah, that makes sense. I'll let you know when we have official support for it and it works again. Good thing is that when that happens, we'll will also setup our official libraries to use it and we'll make sure it keeps working from then on. Thanks again for your report, we really appreciate it!

[2016-12-07 08:45] masalmon commented on #16
@asjlyle did the issue get solved on your side?

[2016-12-15 17:00] sbastos01 opened #17 "ALl calls w. same error // Error: 'as_tibble' is not an exported object from 'namespace:tibble'"
HI,  Great to see this kind of work !  Cheers. S.

1. Running R in windows. Re-started the session 2 times.
2. All other packages are fine.
3. The system pause - query your API and return with error.
4. my key is fine
Sys.getenv("MONKEYLEARN_KEY")

Try to install possible dependencies ... DID NOT WORK .

, it seems it's just a forgotten dependency. From R :
install.packages("tibble") ; install.pac

[2016-12-15 17:11] masalmon commented on #17
@sbastos01 thanks for the bug report! If you just write

[code]

what does it do?

What is the `tibble` version you've installed?

[2016-12-15 17:41] sbastos01 commented on #17
Thanks for checking...

loaded via a namespace (and not attached):
 [1] Rcpp_0.12.5      withr_1.0.2      assertthat_0.1
 [4] digest_0.6.9     slam_0.1-35      R6_2.1.2
 [7] grid_3.3.1       plyr_1.8.4       jsonlite_0.9.22
[10] gtable_0.2.0     scales_0.4.0     ggplot2_2.1.0
[13] httr_1.2.0       curl_0.9.7       NLP_0.1-9
[16] devtools_1.12.0  RevoUtils_10.0.1 tools_3.3.1
[19] munsell_0.4.3    p

[2016-12-15 17:44] sckott commented on #17
looks like `tibble` v1 doesn't have `as_tibble` exported at least https://github.com/tidyverse/tibble/blob/v1.0/NAMESPACE

[2016-12-15 17:49] sbastos01 commented on #17
OK.

Should I install another version? install URL??

Cheers. S.

Cheers,
Sergio Bastos
I help the shift to red rabbit
+1-561.430.7667
skype: sbastos-ca
LinkedIn: http://www.linkedin.com/in/sbastos

On Thu, Dec 15, 2016 at 12:44 PM, Scott Chamberlain <
notifications@github.com> wrote:

[2016-12-15 17:53] sbastos01 commented on #17
FYI

---------- Forwarded message ----------
From: Scott Chamberlain <notifications@github.com>
Date: Thu, Dec 15, 2016 at 12:44 PM
Subject: Re: [ropensci/monkeylearn] ALl calls w. same error // Error:
'as_tibble' is not an exported object from 'namespace:tibble' (#17)
To: ropensci/monkeylearn <monkeylearn@noreply.github.com>
Cc: Red Rabbit -- Free to Thrive <sbastos01@gmail.com>, Mention <
mentio

[2016-12-15 19:06] masalmon commented on #17
@sbastos01 could you update tibble to v1.2 which is on CRAN ? Thanks for the report, I've written the minimal version number in  the description now. And thanks @sckott !

[2016-12-15 19:57] masalmon opened #18 "monkeylearn_classifiers() bug"
When I use `monkeylearn_classifiers()` I now get the error

[code]

I'm not sure what changed in the `classifiers` endpoint. @feconroses have you noticed an issue on your side? If not, I'll look into the R code in more details tomorrow.

[2016-12-15 20:04] masalmon commented on #18
What I get from calling the endpoint is a html page including "Oops, we had an unexpected error" and "Our developer monkeys have been notified and will be fix ASAP." so I'll let the 🐒 s do their job! 🐵

[2016-12-15 20:05] masalmon commented on #14
@chrisdowsett & @asjlyle do `monkeylearn_extract` and `monkeylearn_classify` now work for you? Thanks :-)

[2016-12-15 20:06] sbastos01 commented on #17
HI,

It seems I will need to change R version as well... getting an error when
installing
updating to 3.3.2

Currently at
64-bit] C:\Program Files\Microsoft\MRO-3.3.1

Installing package into ‘C:/Users/sergio/Documents/R/win-library/3.3’
(as ‘lib’ is unspecified)
Warning in install.packages :
  package ‘tibble ’ is not available (for R version 3.3.1)

Installing package into ‘C:/Users/sergio/Docum

[2016-12-15 20:22] masalmon commented on #17
Tibble only depends on  R (>= 3.1.2).

Do you have des tools Installed?  Maybe you can try installing tibble from github .

devtools::install_github("tidyverse/tibble")

[2016-12-15 21:26] sbastos01 commented on #17
Ok. Issue resolved. Thanks !

Re-installed >>> [64-bit] C:\Program Files\R\R-3.3.2
installed devtools for 3.3. X
installed /3.3/tibble/libs/x64

loaded via a namespace (and not attached):
 [1] Rcpp_0.12.8     assertthat_0.1  dplyr_0.5.0     digest_0.6.9
 [5] withr_1.0.2     slam_0.1-35     grid_3.3.2      R6_2.1.2
 [9] DBI_0.4-1       jsonlite_0.9.22 gtable_0.2.0    magrittr_1.5
[13] git2r_0.15.0

[2016-12-16 01:37] sbastos01 opened #19 "Feed back -- errors -- Processing few semi- cleaned tweets"
++++ Error 1 +++++++++++++++++++++
[code]
+++++++++++  error 2   Timeout was reached   ++++++++++++++++++++++++
[code]

[2016-12-16 05:23] masalmon commented on #17
Awesome, thanks again for the bug report!

[2016-12-16 05:23] #17 closed

[2016-12-16 05:26] masalmon commented on #19
So the tweet is empty? Maybe first filter them ?

[2016-12-16 14:13] rsteca commented on #18
Hi @masalmon! It seems to be a problem on our side. We will try to fix this ASAP. Sorry for the inconvenience.

[2016-12-16 14:15] masalmon commented on #18
@rsteca thanks! I have to say I'm happy I'll just have to wait and do nothing :speak_no_evil:

[2016-12-16 14:25] sbastos01 commented on #19
Yep. It seems the api should not fail on that... just warning??

On Dec 16, 2016 12:26 AM, "Maëlle Salmon" <notifications@github.com> wrote:

[2016-12-16 14:28] sbastos01 commented on #19
Yep. It seems the api should not fa

On Dec 16, 2016 12:26 AM, "Maëlle Salmon" <notifications@github.com> wrote:

[2016-12-16 14:28] masalmon commented on #19
Yes I should add a warning and return NULL, but in the meantime (I might do it later today -- I live on UTC+1) please filter or use `try`, sorry about that. And thanks for the bug report! :+1:

[2016-12-16 15:21] sbastos01 commented on #19
Cool. I will keep sending any "bug like" ...

Cheers,
Sergio Bastos
I help the shift to red rabbit
+1-561.430.7667
skype: sbastos-ca
LinkedIn: http://www.linkedin.com/in/sbastos

On Fri, Dec 16, 2016 at 9:28 AM, Maëlle Salmon <notifications@github.com>
wrote:

[2016-12-16 15:23] masalmon commented on #19
Yes, please keep reporting, after a while I'll hope there'll be nothing new to report. :grin:  Just a note on issues, I've re-formatted your bug reports to include R code and output between lines with "```" because it's then easier to read on the Github website.

[2016-12-16 16:09] masalmon commented on #19
@sbastos01 can you test the development version of this package please?

Now if `request` is a single blank text, you get an empty `tibble` and a warning.

If `request` is a vector with parts that are blank text, you get a message telling you those blank parts are not sent to the API.

[2016-12-16 16:18] sbastos01 commented on #19
yes !! will try later on

Cheers,
Sergio Bastos
I help the shift to red rabbit
+1-561.430.7667
skype: sbastos-ca
LinkedIn: http://www.linkedin.com/in/sbastos

On Fri, Dec 16, 2016 at 11:09 AM, Maëlle Salmon <notifications@github.com>
wrote:

[2016-12-21 16:03] rsteca commented on #18
@masalmon  the endpoint should be working now. Tell me if you have any more problems.

[2016-12-21 16:09] gonz commented on #14
@masalmon http/2 support in API servers should be working now. Let me know if anything comes up.

[2016-12-21 16:12] masalmon commented on #14
Thanks @gonz !

@jeroenooms Would you advise me to revert the modifications of https://github.com/ropensci/monkeylearn/pull/15/files ?

[2016-12-21 16:45] masalmon commented on #18
Wonderful @rsteca , thanks a lot, yes it seems to be working! :grinning:

[2016-12-21 16:45] #18 closed

[2017-01-15 16:57] masalmon commented on #13
@asjlyle can you please test the keyword extraction from the development version?

[2017-01-15 16:57] masalmon commented on #19
Closing this now unless @sbastos01 re-opens it.

[2017-01-15 16:57] #19 closed

[2017-01-15 16:58] masalmon commented on #16
@asjlyle do you still get this issue?

[2017-01-15 16:59] masalmon commented on #14
@jeroenooms I'm unsure what is best, leaving the package as it is now i.e. not using http/2 although it is now supported by the API, or using http/2. What is your opinion on this?

[2017-01-15 17:46] jeroenooms commented on #14
Best is to let the server/client automatically negotiate the protocol, i.e. revert the 'hack' which disables HTTP2.

[2017-01-15 17:54] masalmon commented on #14
Ok thanks a lot!

[2017-01-15 18:03] #14 closed

[2017-05-16 09:14] maelle commented on #16
I'll consider this solved.

[2017-05-16 09:14] #16 closed

[2017-05-16 09:14] maelle commented on #13
I'll consider this solved.

[2017-05-16 09:14] #13 closed

[2017-06-06 20:36] nujcharee opened #20 "Invalid token header. No credentials provided"
I am following the documentation but Im not sure which part I missed but I dont know how to add token header or my monkey learn API.
Please could you advice?
Many thanks

[2017-06-07 05:32] maelle commented on #20
Was this solved by comments on the blog post ?

[2017-06-07 09:50] boulbi777 commented on #20
I got exactly the same problem right now !

[2017-06-07 11:56] maelle commented on #20
Thanks both

* had you been able to add your key previously?

* can you post an example of a code where you get the error?

Thanks :-)

[2017-06-07 12:01] maelle commented on #20
And when you mean following the documentation do you mean

"To get an API key for MonkeyLearn, register at http://monkeylearn.com/. Note that MonkeyLearn supports registration through GitHub, which makes the registration process really easy. The free API key provides up to 100,000 requests a month For ease of use, save your API key as an environment variable as described at http://stat545.com/bit0

[2017-06-09 11:12] boulbi777 commented on #20
I tried the first example in this code section :

`output <- monkeylearn_extract(request = text,
                              extractor_id = "ex_isnnZRbS")`

But it doesn't work.
Here is the error displayed :

Invalid token header. No credentials provided.

What's the problem ?

[2017-06-09 11:13] maelle commented on #20
@boulbi777 have you registered at Monkeylearn and then saved your key as explained in "To get an API key for MonkeyLearn, register at http://monkeylearn.com/. Note that MonkeyLearn supports registration through GitHub, which makes the registration process really easy. The free API key provides up to 100,000 requests a month For ease of use, save your API key as an environment variable as described

[2017-06-09 11:42] boulbi777 commented on #20
No, I didn't register.
Gonna do it !
Thank you for your help ! @maelle  ! :+1:

[2017-06-09 11:44] maelle commented on #20
Awesome, and don't hesitate report any difficulty or bug @boulbi777 !

Closing this for now as the person opening the issue told in a comment on my blog it had been solved.

[2017-06-09 11:44] #20 closed

[2017-06-09 11:47] boulbi777 commented on #20
Ok, great news !

[2017-08-01 19:27] racuna opened #22 "Error: Sentiment Analysis in Spanish"
Hi,

Using this:
sentiment <- monkeylearn_classify(rt$text, key = “XXXXmykeyXXXX”,classifier_id = “cl_u9PRHNzf”)

rt$text are tweets
XmykeyX is actually my key

I got this error:
Error in if (any(unlist(vapply(request, nchar, type = “bytes”, FUN.VALUE = 0)) > :
missing value where TRUE/FALSE needed

No sure what to do about that

[2017-08-02 08:18] maelle commented on #22
Hi @racuna thanks for the bug report. I can't reproduce your error, could you please write a reproducible example involving one of the tweets for which you get an error?

E.g. this worked for me:

[code]

Are you using `monkeylearn` latest version by the way?

Side note, if you save your API key as a variable called MONKEYLEARN_KEY in .Renviron you don't need to input it each time you use the func

[2017-08-02 08:19] maelle commented on #22
For info for reproducible examples I use [this package](https://github.com/tidyverse/reprex)

[2017-08-02 18:09] racuna commented on #22
Yes, I'm using the latest version (checked "update packages" on RStudio).

Thanks

[2017-08-02 18:13] maelle commented on #22
Ok. Can you try and find which tweet (s) provoke the error and post at least one example here? Then I'll look into it tomorrow.

[2018-02-23 12:17] maelle opened #24 "add new function based on df"
see #23 , will invite @aedobbyn to the repo.

We can

* discuss here&on Slack and

* work on implementation in a devel branch

[2018-02-23 12:21] maelle commented on #22
Closing this since I got no further information to try and solve this.

[2018-02-23 12:21] #22 closed

[2018-02-23 12:37] maelle commented on #24
@aedobbyn I'll take some notes here, maybe a bit messy, sorry.

First of all thanks so much for your PR! Good for users and I see you caught at least one error 🙀

I like the name actually! It's clear, one sees what it does.

I wonder whether we should add the same for extract. If we do this smartly maybe it wouldn't be too much work to write the two at the same time?

If we can avoid adding `dplyr

[2018-02-23 12:38] maelle opened #25 "make pkgdown website"
* since it's so easy

* make README minimal and with links to the vignettes, no duplication between README and vignettes.

[2018-02-23 12:38] maelle opened #26 "make key entry user-friendlier"
as in https://github.com/hrbrmstr/omdbapi/blob/3b69849a540c844a09cf03fb4005b1fd16f80eb2/R/omdb_api_key.R

[2018-02-24 02:33] aedobbyn commented on #24
@maelle thanks for these notes! I had a lot of these on my list of to-dos so that's perfect :smile: This is the list I've got so far -- let me know if I missed some things:

- add `monkeylearn_extract_df()`
- update the vignette with an example of `monkeylearn_classify_df()` of `monkeylearn_extract_df()`
- try to bind rows with `rbind()` rather than `dplyr::bind_rows()` to avoid the dplyr dependen

[2018-02-24 07:30] maelle commented on #24
Nice list!

I don't remember details exactly but I thought it was 200? Maybe it changed?

Again a very good question and I don't remember why I wrote that :scream:

Yes I can edit the functions to remove importFrom.

Could you close your PR (if your rights allow that, I _think_ so) and create a dev or devel branch in this repo where we can both work? Thank you!

[2018-02-24 07:33] maelle commented on #24
I forgot to say that yes md5 is useless if the function outputs a data.frame. Your function makes the df experience much user-friendlier. 😁

[2018-02-24 07:35] maelle opened #27 "make the handling of function dependencies more consistent"
from importFrom to ::

[2018-02-24 07:35] maelle opened #28 "create devel or dev branch"
🚀

[2018-02-24 07:36] maelle commented on #28
so wait I said things wrong. I think you can:

* create a devel branch in this repo

* change your PR so that it's a PR to the devel branch. I did that recently for a PR, using https://github.com/blog/2224-change-the-base-branch-of-a-pull-request

* merge your own PR

[2018-02-24 07:37] maelle commented on #24
Don't close your PR cf #28

[2018-02-24 17:56] aedobbyn commented on #28
Hmm think I don't have write access yet. When trying to push, "Please make sure you have the correct access rights and the repository exists."  and when tying to edit a file in GitHub I get "You’re editing a file in a project you don’t have write access to." 😕

[2018-02-24 17:59] maelle commented on #28
Oh no I had forgotten one more setting to change. Now it should work, sorry about that!

[2018-02-24 18:41] aedobbyn commented on #28
Great, worked out! The changes from the PR are in `dev`, and I've updated the `classify-df` branch with a new function `classify_vec()` which does the same thing as `classify_df()` except it takes a vector of inputs. Happy to discuss whether these should be two separate functions or, as is currently the state in `classify-df` branch, `classify_df()` should be able to accept either a dataframe and

[2018-02-24 18:41] #28 closed

[2018-02-24 18:47] aedobbyn commented on #24
Okay! I'll add an issue for adding the option to set `params` in all of the functions. I mentioned in #28 -- I've kept the `classify-df` branch around because it's got a new function `classify_vec()` and changes to `classify_df()` to accept a `vec` as input. These are redundant so I think we should pick one. I'd lean towards having two separate functions for piping's sake; in the `classify-df` bra

[2018-02-24 18:49] aedobbyn opened #29 "add the option to set params in all of functions"
Currently `monkeylearn_classify()` does not take `params` and `params` is set to NULL in its call to `monkeylearn_prep()`.

[2018-02-24 18:51] maelle commented on #24
What about having only the df function, and if the input is a character vector it would transform it to a df with a warning?

And the current classify function already takes a vector as input.

[2018-02-24 18:51] aedobbyn opened #30 "add monkeylearn_extract_df()"

[2018-02-24 18:52] aedobbyn opened #31 "update the vignette with an example of monkey_classify or monkey_extract"

[2018-02-24 18:52] aedobbyn opened #32 "build request_reconstructed in classify_df() from df[[col]] to preserve empty string rows"

[2018-02-24 18:53] aedobbyn opened #33 "attempt to remove dplyr and tidyr dependencies"
- try to bind rows with `rbind()` rather than `dplyr::bind_rows()`
- try to unnest rows without `tidyr::unnest()`

[2018-02-24 18:55] aedobbyn opened #34 "change the default texts per request value to 200 for all functions"

[2018-02-24 18:56] maelle commented on #33
and if it takes too long, just forget about it and keep the dependencies, don't spend hours and hours on this. 😉

[2018-02-24 18:58] maelle commented on #34
+ could you add a link to Monkeylearn docs in our docs to explain why we put it to 200?

[2018-02-24 19:05] aedobbyn commented on #24
Ah I like that! So the first argument we'd rename to `input` or something, and if `input` is a dataframe then the second argument, `col` would have to be supplied. Otherwise, `input` is a vector and we can follow the behavior of `monkeylearn_classify_vec()`. I think that might be the best way to preserve pipeability and simplicity 😊

Right, the difference between `monkeylearn_classify()` and `monk

[2018-02-24 19:07] aedobbyn commented on #34
Oh yes, great point! Will do.

[2018-02-24 19:09] aedobbyn commented on #33
Haha sounds good. If it's tough I might put this one to the R-Ladies and see what we come up with 😆

[2018-02-24 19:11] maelle commented on #24
I think it's great!

Maybe to make it clearer the name could be `monkeylearn_classify_to_df` but it's getting too long 🤔   so happy to let it as it is!

The docs should have examples of piping to show how useful this is.

[2018-02-24 19:15] maelle commented on #33
I actually noticed today I had `dplyr` as a dependency in another package 🤦‍♀️ but hey still better if we can avoid it.

[2018-02-24 19:24] maelle commented on #24
mmmh you know I actually think the behavior of the new function you're creating should be the one of that old function, had I been smarter.

so maybe we should slowly deprecate the old one and call the new one `monkey_classify`? And it'd output either a nested or non nested data.frame based on an argument?

In `opencage` where a similar transformation is happening the old functions will be depreca

[2018-02-24 19:27] aedobbyn commented on #33
Haha it's so hard to get away from!

Which was the other package? I can add that to the issue description unless it would be impossible not to rely on `dplyr` for that particular task

[2018-02-24 19:28] maelle commented on #33
which issue description?

the other package is `opencage` and I never received an issue from someone about its depending on `dplyr` (granted, I don't know how many users it has in the first place 😂 )

[2018-02-24 19:33] aedobbyn commented on #24
Yep, that sounds good! Do you think we should call the new version `ml_classify()` so we don't break people's code that uses the original `monkeylearn_classify()`?

If you want to go with the `ml_` prefix, I'm fine with either the `ml_classify_df()`and `ml_classify_vec()` combo or the ability of `ml_classify()` to take either a dataframe or a vector that we discussed above.

[2018-02-24 19:34] maelle commented on #24
yes that or as I proposed, `monkey_classify` because `ml` sounds like machine learning. 😃

[2018-02-24 19:34] aedobbyn commented on #24
I guess we'd also need to check whether `ml_classify` is already a name taken by another package... 😆

[2018-02-24 19:34] maelle commented on #24
also `monkey` is fun 😹

[2018-02-24 19:35] aedobbyn commented on #24
Oh my brain read `monkey_classify` that as `monkeylearn_classify`! Haha yes, I like `monkey_classify` a lot!

[2018-02-24 19:36] maelle commented on #24
cool, then let's call it this way! 🐒 📁

[2018-02-24 19:39] aedobbyn commented on #24
Ahahaha I love it. I'm sort of leaning toward distinguishing `monkey_classify_df()` and `monkey_classify_vec()` just to be explicit and so that people won't have to suppress warnings if they're only ever classifying vectors. But I'll follow your lead on this 😊

[2018-02-24 19:40] maelle commented on #24
or we could transform it into a data.frame without a warning? So input can be two things? Not sure if it's best practice, but it doesn't sound too wrong?

[2018-02-24 19:44] aedobbyn commented on #33
Oh sorry -- this issue description (#33). But nevermind, I read you wrong and thought you meant there was another function in this package that had a `dplyr` dependency. `opencage` looks awesome (and super complicated)!

[2018-02-24 19:45] aedobbyn commented on #24
Sounds good to me! If it's untenable we can always break it up into two functions later, I suppose.

[2018-02-24 19:46] aedobbyn opened #35 "add monkey_classify()"
Accept an `input` as the first argument and optional `col` as the second. If `input` is a dataframe, `col` must be supplied. Otherwise, `input` is a vector. (No warning needed.)

[2018-02-25 01:44] aedobbyn commented on #33
Actually looks like `dplyr::bind_rows` is currently used in lines 107 and 108 of `extractor.R` on master. Maybe explains why I had trouble getting headers from `monkeylearn_classify()` but didn't with `monkeylearn_extract()`.

I see -- looks like the test written for headers checks whether the output is a dataframe, which is why it was passing, but the `attr(output, "headers")` dataframe is empty

[2018-02-25 01:45] aedobbyn opened #36 "Add a test to check that the headers dataframe isn't empty"

[2018-02-25 01:49] aedobbyn commented on #33
and also probably explains the `Unknown or uninitialised column: 'headers'.` you get when running the tests! (Feel like there's such a high false positive rate for warnings not actually mattering that I barely pay attention to them and half the time end up regretting it 😆 )

[2018-02-25 06:04] maelle commented on #36
related to a bug you observed?

[2018-02-25 06:06] maelle commented on #33
oooh good find! Bien joué ! 👏

[2018-02-25 08:08] aedobbyn commented on #33
Merci!

[2018-02-25 08:11] aedobbyn commented on #36
Yes! I should have mentioned in the description. In #33 I say that `dplyr::bind_rows` is currently used in lines 107 and 108 of `extractor.R` on master. This should explain why headers from `monkeylearn_classify()` were an empty tibble those from `monkeylearn_extract()` were not 🎉

[2018-02-25 16:01] aedobbyn commented on #34
I'm thinking we should only give the user a warning if they send >200 requests rather than error out because monkeylearn may update this value or change their pricing scheme such that some users would be able to go over the 200 limit. Another option would be to add a boolean argument like `ignore_max` that the user could set to true if they willfully wanted to send more than 200 -- this way they w

[2018-02-25 16:28] aedobbyn opened #37 "Add more monkey_-specific tests"

[2018-02-25 16:37] aedobbyn opened #38 "If no results for a call, return NA for that text rather than NULL"
In `utils.R`, `monkeylearn_parse()` messages "No results for this call" message and returns `NULL`. Probably prefer to return `NA_character_`.

[2018-02-25 16:46] aedobbyn commented on #38
@maelle I think probably makes sense to keep the original behavior of returning null in `monkeylearn_parse()` but to change it to this behavior in `monkeylearn_parse_each()` unless you think we should update both

[2018-02-25 17:51] #29 closed

[2018-02-25 17:51] #30 closed

[2018-02-25 17:51] #34 closed

[2018-02-25 17:51] #35 closed

[2018-02-25 17:51] #36 closed

[2018-02-25 17:51] #38 closed

[2018-02-25 17:55] maelle commented on #34
Ah good point, dodocumented warning sounds good!

[2018-02-25 18:02] aedobbyn commented on #34
Cool cool. I ended up setting `texts_per_req` to null by default. If it's not supplied and the length of the texts is > 200, then it's set to 200 and if less than 200 it's set to the length of the text:

[code]

[2018-02-25 18:37] aedobbyn opened #39 "Error with extractor id ex_dqRio5sG"
Trouble creating `output_nested`  from `output$result` in `monkey_extract()` with this particular extractor.

[code]
`Error: Column `resp` must be a 1d atomic vector or a list`

`res` is a 2x11 dataframe of columns `dates`, `links`, `phones`, `ipv6s`, etc.

[2018-02-25 18:43] aedobbyn opened #40 "Investigate empty headers dataframes"

[2018-02-26 12:05] maelle commented on #10
The README should become minimal once the pkgdown site is up.

[2018-02-26 12:05] #10 closed

[2018-02-26 12:08] maelle commented on #32
you mean the rows with empty strings that the user provided because their text preparation method somehow produced empty strings?

[2018-02-26 12:10] maelle commented on #39
https://app.monkeylearn.com/main/extractors/ex_dqRio5sG/

(link for my own use)

[2018-02-26 12:11] maelle commented on #40
more details? 😸

[2018-02-26 12:12] maelle opened #41 "vcr and webmockr tests"

[2018-02-26 13:54] aedobbyn commented on #40
Yes, sorry! The `expect_gte(nrow(attr(output, "headers")), 1)` tests are failing in `test_monkey_output.R` (commented out for now). They're passing in `test_output.R`, though, not sure why. Maybe something to do with a difference between `monkeylearn_parse()` and `monkeylearn_parse_each()`

[2018-02-26 13:58] aedobbyn commented on #32
Right, exactly. If they have empty strings we filter them out with `monkeylearn_filter_blank()` then we'd return a dataframe without those empty string rows, which will have fewer rows than their input dataframe.

[2018-02-27 08:02] aedobbyn commented on #32
I'd like to think of a better way of doing this than comparing the input request strings to the cleaned request strings since these may not be unique. If that's the case, we now have an informative error message on [line 167](https://github.com/ropensci/monkeylearn/blob/T32/R/monkey_classify.R), but probably not the best solution, so this is still on the T32 branch rather than in dev. Happy to mer

[2018-02-27 20:52] aedobbyn opened #42 "Add a function for testing headers more concisely"

[2018-02-27 21:00] #40 closed

[2018-02-27 21:00] #32 closed

[2018-02-27 21:01] aedobbyn opened #43 "Port over functionality from #32 to monkey_extract"

[2018-02-27 22:44] #42 closed

[2018-02-27 23:02] aedobbyn commented on #39
[code]

Bit more context on what this dataframe looks like in the debugger. It's of class `data.frame` but for whatever reason can't be turned into a tibble.

[2018-02-28 02:21] aedobbyn opened #44 "Make it easier for users to unnest output whose input contained empty strings after the fact"
This isn't an issue if users set the `unnest = TRUE` flag because we do the unnesting for them before sticking in the rows that couldn't be processed into the right spots. It is an issue to unnest post facto if they set `unnest = FALSE` and then try to unnest the output.

I think the fix will just involve making the default `resp` for rows that can't be classified/extracted (here, row 5, an empty

[2018-02-28 02:49] aedobbyn opened #45 "If an input element cannot be processed, include the element's index in the warning message"
Warning message right now: "The parts of your request that are only blank are not sent to the API."

[2018-02-28 03:39] #31 closed

[2018-02-28 06:19] maelle opened #46 "Reduce docs duplication"
Import parameters from other functions

[2018-02-28 21:49] #44 closed

[2018-03-01 03:59] #43 closed

[2018-03-01 04:00] aedobbyn commented on #43
Closed in commit 8e8578d

[2018-03-01 04:01] aedobbyn opened #48 "Pull some of the repeated tests into functions and make sure to add testthat:: before the expect_ functions"

[2018-03-01 04:02] aedobbyn opened #49 "Pull out some of the middle munging in monkey_classify and monkey_extract into utils functions"

[2018-03-01 04:53] #45 closed

[2018-03-02 14:00] #49 closed

[2018-03-02 19:58] aedobbyn opened #52 "Switch the column name parsing over to tidyeval"
`request_orig <- input[[deparse(substitute(col))]]`

to

[code]

[2018-03-03 15:41] aedobbyn opened #53 "Pare down the README to just installation and minimal examples and link to pkgdown articles"

[2018-03-03 16:14] maelle commented on #53
Or if we make a pkgdown website, make the README minimal and link there to vignettes (= pkgdown articles) 🤔

[2018-03-03 16:32] aedobbyn commented on #53
Oh yes! Love it. I'll change the title of this to pare down the README to just installation and minimal examples and link to pkgdown articles if that sounds good to you?

[2018-03-03 16:34] maelle commented on #53
Yes, perfect!

You can even create the pkgdown website if you want. 😉 But otherwise I can do that next week, it's just a few lines of code and a setting of the repo here.

[2018-03-03 16:36] aedobbyn commented on #53
Ooh awesome, I've never done it before but I can give it a shot!

[2018-03-04 00:52] aedobbyn opened #54 "Cover the case where we don't have a response of NULL for a given text but instead have an empty dataframe"
In `replace_x()` need to expand `if(is.null(x) || is.na(x))` to `if(is.null(x) || is.na(x) || nrow(x) == 0)`

[2018-03-04 00:53] aedobbyn commented on #52
I'm actually now thinking we should stick with the base approach to avoid the `rlang` dependency since we'd only use tidyeval in one spot

[2018-03-04 01:06] #54 closed

[2018-03-04 03:38] aedobbyn opened #55 "Remove importFrom from classify.R and extractor.R"

[2018-03-04 05:16] #55 closed

[2018-03-04 05:19] #52 closed

[2018-03-04 12:56] maelle commented on #48
Which ones exactly? But nice anyway 😀

[2018-03-04 14:45] maelle commented on #44
Well done (the very idea to solve this for users, and the way you solved it!) 🎉

[2018-03-04 14:54] maelle commented on #49
cf https://github.com/ropensci/monkeylearn/pull/51 👌

[2018-03-04 14:54] aedobbyn commented on #48
This is the function I'd made for testing headers, so I'm thinking something similar to this for any of the other tests that are used multiple times. What do you think?

[code]

[2018-03-04 15:00] maelle commented on #54
Oh why does this happen? Depending on the module? (sorry to comment on all the closed issues!)

[2018-03-04 15:06] aedobbyn commented on #54
No, totally fine! Yeah, I actually noticed it when using `monkey_extract()` with a classifier ID. It sends back an empty dataframe for each text, so now instead of an error we get NAs.

[code]

[2018-03-04 15:08] maelle opened #57 "use ratelimitr?"
See https://github.com/ropensci/monkeylearn/issues/1

I also need to check whether the throttle limit depends on the plan.

What's been done in `opencage` https://github.com/dpprdan/opencage/commit/d44f6d190033b596c49c9f786d819901b60e5916

https://github.com/ropensci/opencage/issues/32

[2018-03-04 15:11] maelle commented on #54
good catch!!

[2018-03-04 15:15] maelle commented on #55
👏

[2018-03-04 15:41] aedobbyn opened #58 "Think about incorporating the ratelimitr package to handle 429s"
We should see whether MonkeyLearn specifies a rate limit (unless the package handles all of this for us?)

[2018-03-04 15:41] aedobbyn commented on #58
Oops, dupe of #57!

[2018-03-04 15:41] #58 closed

[2018-03-11 22:37] aedobbyn opened #59 "In reporting which number texts correspond to the batch we're currently processing, report the last batch as ending at the total number of texts rather than i*texts_per_req"
If we have 653 texts currently we see

[code]

whereas we should see

[code]

[2018-03-12 01:36] aedobbyn commented on #59
For an input of 11 texts with 1 empty string at row 5:

[code]

[2018-03-12 02:15] #59 closed

[2018-03-13 19:44] aedobbyn opened #61 "Map as.character over all factor columns of the response"
We often get the warnings:

[code]

I think this comes up during `monkeylearn_get_classify` when we get headers because some of the header columns are factors.

[2018-03-13 20:11] aedobbyn commented on #61
Okay, yep, it's in the column headers. `server, content.type, transfer.encoding, connection, x.query.limit.limit`, etc. are all returned as factors during the call to `httr::POST` inside `monkeylearn_get_classify`.

How do we feel about `purrr::map_df(.p = is.factor, .f = as.character)`? We don't take purrr as a dependency but we might want to in the future anyway?

[2018-03-14 02:10] #48 closed

[2018-03-14 15:22] aedobbyn opened #63 "Think about replacing the ASCII Art monkey with something else"
- Monkey emoji
- "Message" from a random monkey species

[2018-03-14 19:23] maelle commented on #63
😍

[2018-03-14 20:39] #61 closed

[2018-03-15 03:05] aedobbyn commented on #33
Since we're depending on a few tidyverse packages at this point I think this issue can be closed for now, though happy to reopen later down the line if we want to un-dependify!

[2018-03-15 03:05] #33 closed

[2018-03-18 04:05] aedobbyn commented on #63
We could use either this phrase

[code]

or the `monkey_df$description`s are short enough that we could fit them in

[code]

[2018-03-18 05:07] maelle opened #65 "progress bar?"
cf https://github.com/ropensci/opencage/commit/21a70a5630beb4ad4d621f0b34569b7e42d7b9da

[2018-03-18 05:08] maelle commented on #63
I find it soooooo cool Amanda!

[2018-03-18 05:16] maelle commented on #33
I agree!

[2018-03-18 23:44] aedobbyn commented on #27
Believe this is all taken care of in #64 and #56 👍

[2018-03-18 23:44] #27 closed

[2018-03-18 23:49] aedobbyn opened #66 "add Amanda as aut"

[2018-03-19 02:36] #66 closed

[2018-03-22 07:39] maelle opened #68 "add codemeta file"

[2018-03-22 07:46] maelle opened #70 "Activate the pkgdown website"
when we merge dev into master I need to change the gh-pages settings, and to add the website link in the repo description. cf #25

[2018-03-22 07:50] maelle opened #71 "Make Thomas rev not ctb"
Since it is now allowed.

[2018-03-22 08:04] #68 closed

[2018-03-22 08:05] #25 closed

[2018-03-22 08:08] #71 closed

[2018-03-22 08:57] maelle commented on #53
I did it but you can update the website later :wink:

[2018-03-22 08:57] #53 closed

[2018-03-22 09:08] maelle opened #75 "Make limiting clearer in the docs"
* Explain difference between _requests_ (rate limiting) and _queries_ (query limiting)

* Add links to Monkeylearn docs instead of having hard-coded numbers that are subject to changes. E.g. https://monkeylearn.com/api/?shell#rate-limiting

[2018-03-22 09:13] maelle commented on #57
For that I will ask the user to add another environment variable MONKEYLEARN_PLAN that will be either "free", "team" or "business".

If the variable doesn't exist there will be warning indicating the user should add it. By default it will be "free" (so it won't fail if there is no environment variable)

There will be two rates but `ratelimitr` handles that well. From the API docs "There is a maxim

[2018-03-22 09:51] maelle opened #76 "monkeylearn_classify_df old example"

[2018-03-22 11:09] maelle commented on #57
Now that it works (push to come) I guess I could remove the code that handles the 429 codes, what do you think @aedobbyn ?

[2018-03-22 11:16] maelle opened #78 "updates NEWS for 0.2.0"
Let's keep track of things here first maybe?

* ratelimitr

* your new functions (should come first actually)

* your bug fixes

* pkgdown website

* verbose

[2018-03-22 11:17] maelle commented on #78
Next time we should do this in each pull request I guess 🤔

[2018-03-22 11:31] maelle opened #79 "Stop having default IDs? Or have a warning?"
This way we'd still have a default ID for tests but the user would need to think about the classifier or extractor, which I think makes more sense?

[2018-03-22 11:35] #76 closed

[2018-03-22 11:39] maelle opened #80 "Replace vignette examples with examples using the newer functions"
And also update the website afterwards. :-)

[2018-03-22 11:39] maelle commented on #80
I mean I think removing the first examples would make sense, maybe I can do it myself and not bother you sorry.

[2018-03-22 12:01] maelle opened #81 "How to help users migrate towards the new functions"
* Add sthg to the old functions docs

* Add a message?

[2018-03-22 12:13] maelle commented on #39
when this is solved update vignette and website

[2018-03-22 12:14] maelle opened #82 "make unnest = TRUE the default?"

[2018-03-22 12:19] maelle commented on #57
Another question for you @aedobbyn ... I see there can be special snowflakes https://monkeylearn.com/pricing/ whereas my current code doesn't have that. What would you recommend? Setting rate as an argument which will be confusing for most users? Or propose having an environment variable MONKEYLEARN_RATE when MONKEYLEARN_PLAN is "enterprise"?

[2018-03-22 22:30] dpprdan commented on #57
Just saw the reference in opencage so chipping in here. ICYMI, regarding the two limits

ratelimitr supports multiple limits, see the [Readme](https://github.com/tarakc02/ratelimitr)/vignette.

[2018-03-22 23:43] aedobbyn commented on #79
I like this, because it will make people think critically about which ID they're using. At the same time, I think we want to reduce friction for people who just want to give the package a spin. So maybe a warning if `verbose` is TRUE, which it is by default?

[2018-03-22 23:44] aedobbyn commented on #82
I'm good with this!

[2018-03-23 00:21] aedobbyn opened #84 "Change the github.com/ropenscilabs to github.com/ropensci in vignettes and anywhere else"
In case the redirect drops sometime down the line 😸

[2018-03-23 00:38] aedobbyn opened #85 "Debug the "The following indices were empty strings" output"
We want to paste together a list of all the indices that will be thrown out; wrong variable being used currently.
Also thinking we won't want to show too big of a message; maybe limit to 20 indices and truncate the rest?

[2018-03-23 01:38] aedobbyn commented on #85
Went with limiting to 20. It'll be clear to the user in their output which of the strings were empty because they'll be returned in the output, so they can just `filter` to the empties themselves. Otherwise I'd say we should save the whole list of empties as an attribute or something that they can access if they want to see the full list.

[2018-03-23 01:38] #85 closed

[2018-03-23 01:39] aedobbyn commented on #81
I like both of these! Think we should only add a message if `verbose` is true?

[2018-03-23 01:41] aedobbyn opened #88 "Insert plug for other rOpenSci packages that need some love into blog post"
Space left open with `# Insert plug for other rOpenSci packages that need some love` :)

[2018-03-23 02:44] aedobbyn commented on #39
Ok -- I can take another pass at it but I don't remember being confident I could solve this 😔

[2018-03-23 02:49] aedobbyn commented on #78
Haha yeah, I guess like tests it's better to do as you go?

I think this list looks good. If I think of anything else I'll add here!

[2018-03-23 02:58] aedobbyn commented on #63
Having some trouble getting in contact with these people. May be worth backburnering for now.

[2018-03-23 04:10] aedobbyn commented on #24
I suppose we can close this guy now, yeah?

[2018-03-23 04:20] aedobbyn commented on #76
Ah great find! 🙌

[2018-03-23 08:25] maelle commented on #57
I saw and use that, this is so cool, `ratelimitr` is great.

Our problem here is rather finding the user-friendliest way to deal with special ❄️ plans 😂

[2018-03-23 08:32] maelle commented on #78
Feel free to make "

your new functions (should come first actually)

your bug fixes" more explicit 🙏 😉

I agree, this is *exactly* like tests!

[2018-03-23 09:05] maelle commented on #24
Yep!

[2018-03-23 09:05] #24 closed

[2018-03-23 09:05] maelle commented on #82
Cool, could you also remove all the "unnest=TRUE" from the vignette? Otherwise I will. :-)

[2018-03-23 09:06] maelle commented on #63
Done, I've changed the milestone! Thanks for trying!

[2018-03-23 09:07] maelle commented on #39
Ok, please add what you tried here and I can have a look next week. I hope we can solve it but otherwise it's not too bad, IIRC the same extractor works with the old functions 💅

[2018-03-23 09:08] maelle commented on #81
Good idea! Do you want to add it?

[2018-03-23 09:09] maelle commented on #85
I think it's great as is, because yep the user can filter that themselves.

Maybe you could open an issue about adding a example in the docs for v0.3.0 if you think that's useful.

[2018-03-23 09:10] maelle commented on #84
Good catch! I will unless you do it. 😉

Reg the pkgdown website btw it'll only work once 1) dev has been merged into master 2) I tackle #70

[2018-03-23 11:04] maelle commented on #79
Cool! Could you add it? Otherwise I will.

[2018-03-23 22:57] aedobbyn commented on #79
Yep, I can do it!

[2018-03-23 23:14] aedobbyn opened #90 "When trying to unnest an output whose `resp` is entirely NAs, we get an error"
`Error: All nested columns must have the same number of elements.`

Need to put a check in before

[code]

to make sure that `results$resp` isn't just NAs.

[2018-03-23 23:19] aedobbyn opened #91 "Supply a more informative error message if input is a dataframe but a column is not specified"

[2018-03-23 23:49] aedobbyn commented on #91
Closed with https://github.com/ropensci/monkeylearn/commit/0bdbcbac32147e8b67ac0681f26403b938e14a3a

[2018-03-23 23:49] #91 closed

[2018-03-23 23:50] aedobbyn commented on #90
Closed with https://github.com/ropensci/monkeylearn/commit/da00681960dcb27d8466e4593c35efdccf7b7efa

[2018-03-23 23:50] #90 closed

[2018-03-23 23:54] aedobbyn commented on #82
I removed them from the vignette back in https://github.com/ropensci/monkeylearn/commit/2f839d5b340b71255dae7b90b8657b65196b82b1 but left one of them in there for illustrative purposes (though now that I look at it again we may want to do the same thing for the example right above it as well)

[2018-03-24 00:13] aedobbyn commented on #79
Originally messaged no matter the classifier used in https://github.com/ropensci/monkeylearn/commit/64a7b26f3848070dc5bf1d50e9d4047108eee7de but then changed to only message when the default was used in https://github.com/ropensci/monkeylearn/commit/6dd3aa8beed0da0c2b72889f2641ac1e83caaef8. Happy to go back to the first option, though

[2018-03-24 00:13] #79 closed

[2018-03-24 00:17] #82 closed

[2018-03-24 00:19] aedobbyn commented on #63
🙂 here's a link to the scraping code https://github.com/aedobbyn/analysis-scratchpad/blob/master/get_monkey_species.R in case we hear back and decide to implement this in the future.

[2018-03-24 00:38] aedobbyn commented on #81
Sure! I'll open an issue

[2018-03-24 00:39] aedobbyn opened #93 "Add a message into older monkeylearn_ functions when verbose is true encouraging users to uses new functions"

[2018-03-24 00:40] aedobbyn commented on #85
Nice idea, will do

[2018-03-24 00:41] aedobbyn opened #94 "Add an example to the vignettes of a text with > 20 empty strings to demonstrate the truncated warning message"
Mention that the user can filter to the empties in the output which is why we don't message all of the indices.

[2018-03-24 00:55] aedobbyn commented on #57
Still waiting to hear back from MonkeyLearn re: a call to get either a) users' max per minute rates as well as their total number of monthly queries or b) a list of standard plans and their current rate limits and query limits.

Re: removing `monkeylearn_check()` which checks if `req$status_code == 429` I don't see any harm in keeping it in there just in case we erroneously infer that the user has

[2018-03-24 01:08] aedobbyn commented on #78
👌 👌 👌

[2018-03-24 01:35] aedobbyn commented on #39
I think the issue is that the entire result is NULL.  We'll need to map `purrr::map_df(replace_x)` (or some equivalent) over it to replace the NULLs with NAs.

[2018-03-24 02:12] aedobbyn commented on #39
Closed in https://github.com/ropensci/monkeylearn/pull/95

[2018-03-24 02:12] #39 closed

[2018-03-24 02:17] #84 closed

[2018-03-24 02:17] aedobbyn commented on #81
Closing this now that #94 is open

[2018-03-24 02:17] #81 closed

[2018-03-24 16:08] maelle commented on #39
Well done! 👏

[2018-03-24 16:11] maelle commented on #82
Thank you!

[2018-03-24 16:11] maelle commented on #91
Nice!

[2018-03-24 16:12] maelle commented on #90
Good catch! 🎣

[2018-03-24 16:12] maelle commented on #79
I think the second one is better, so let it as is. Thanks a lot!

[2018-03-24 16:19] aedobbyn commented on #39
Thanks! 😊

[2018-03-24 16:21] aedobbyn commented on #79
Great! 👌

[2018-03-24 18:50] #37 closed

[2018-03-24 19:01] #93 closed

[2018-03-24 19:17] #94 closed

[2018-03-24 19:27] aedobbyn commented on #93
I made the default value of `verbose` TRUE -- not sure if we want to undo that change or not.

[2018-03-24 20:38] maelle commented on #93
I think it's a good move here, since we want to be sure the message is seen.

[2018-03-24 21:43] aedobbyn commented on #93
Ok!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-24 22:07] aedobbyn opened #99 "Reformat code (especially monkey_extract)"
Maybe use `lintr` or `formatR`

[2018-03-25 05:09] aedobbyn opened #100 "Add a .keep_all option to retain the other columns of input"

[2018-03-25 14:16] maelle commented on #100
Oh good thinking 👌

[2018-03-25 14:17] maelle commented on #99
I'd recommend `styler` actually!

[2018-03-25 14:17] maelle commented on #99
And then maybe we could add a `lintr` unit test to be really strict with ourselves hehe. Note that lintr-bot would then comment on each PR so it might become tedious? There's a lintr unit test in `opencage`.

[2018-03-25 15:33] aedobbyn commented on #100
The more I just use the package the more I notice where it can be improved — the cycle may never end! 😆

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-25 20:11] aedobbyn commented on #99
Cool, reformatted with `styler`! There was a bug I'm going to repro and submit an issue for which I think was related to the accent on "Hauràs"; that's why the first build failed.

Re: `lintr` I'm fine with either way. We do have a lot of lines > 80 characters so we'd want to specify a non-default config, I think.

[2018-03-25 20:11] #99 closed

[2018-03-25 20:13] aedobbyn opened #101 "See if we can figure out why inline R chunk blocked pkgdown from rendering vignette"
See https://github.com/ropensci/monkeylearn/pull/98#issuecomment-375923299

[2018-03-26 00:41] aedobbyn commented on #88
Link to blog post .Rmd: https://github.com/aedobbyn/roweb2/blob/dev/content/blog/2018-03-22-monkeydo.Rmd

[2018-03-26 00:49] aedobbyn commented on #100
I wonder what the best ordering of columns is here. Right now I'm thinking

`<other columns> <input column> <response columns>`

I think that makes the most sense because it bridges original input columns with output columns. The only downside is that it may mean columns get reordered if, in the original input, the order was

`<input column> <other columns>`

Also, planning on now retaining the na

[2018-03-26 02:23] aedobbyn opened #102 "Map a replacement of all NULLs for NAs in the response"
In the vignette example using extractor ID `ex_y7BPYzNG`, we get a response with some fully NULL columns and others that are not all NULL.

This isn't covered by the fix implemented for #39 because this
[code]
only covers the case when all columns are null.

I think we should be able to just
[code]
before creating `res_nested` but I must be on an older version of `tidyr` because the second example

[2018-03-26 02:32] aedobbyn commented on #102
And should remember to uncomment this extractor out in the vignette.

[2018-03-26 17:02] #100 closed

[2018-03-26 21:15] aedobbyn commented on #101
Nuked the whole `docs` directory and rebuilt from scratch, but still got the `Error in eval(expr, envir, enclos) : object 'speedup' not found` error ☹️

[2018-03-26 21:17] #101 closed

[2018-03-27 01:45] aedobbyn commented on #78
Should mention `.keep_all` as well here, now

[2018-03-27 12:14] aedobbyn commented on #102
This should be fixed as of https://github.com/ropensci/monkeylearn/commit/fcaa9aa8dfca36e0bccf2c56767ff33ab82d6d29. I think may be worth simplifying, but I'm not sure how.

[2018-03-27 12:14] #102 closed

[2018-03-28 03:55] aedobbyn commented on #88
After some answers here https://discuss.ropensci.org/t/best-blog-post-writing-practices-re-image-file-paths-and-footnotes/1112/5 it doesn't seem like there's a totally seamless workflow here so what I've been doing is writing in the .Rmd where image paths are commented out (since it won't knit to .md with image paths of `/img/blog-images/2018-03-22-monkeydo/`, you'd need to append `../../themes/ro

[2018-03-28 04:58] maelle commented on #88
mmmh makes me think I should add a function to help create blog posts to my very much only a list of ideas package for rOpenSci package authors!

I'll add my blurb here because of that 🙈  @sckott this is a blurb for the end of Amanda's post, where she explained how she became a contributor to `monkeylearn`. The goal of the blurb is to encourage more people to do that.

"You too can become a contri

[2018-03-28 05:52] maelle commented on #99
Oh interesting about the accent, good catch!

Do these long lines have a good reason to be long? We could escape them with # nolint

[2018-03-28 06:07] maelle commented on #100
This is all so well thought 👏

[2018-03-28 06:11] maelle commented on #101
ok! thanks for trying!

[2018-03-28 06:12] maelle commented on #78
It's gonna be such an impressive NEWS.md

[2018-03-28 14:50] aedobbyn commented on #99
Yeah, it's a weird bug. Even shortening the long string by one line fixes it (see https://github.com/r-lib/styler/issues/383). So we could just shorten the long string and `styler::style_pkg()` should work just fine

[2018-03-28 14:54] aedobbyn commented on #100
Thanks! Should be interesting to get feedback on whether people find the behavior intuitive or not 😄

[2018-03-28 14:55] aedobbyn opened #107 "Shorten all the Goldman lines a bit so that styler::style_pkg() can work without manual restyling"
See https://github.com/r-lib/styler/issues/383

[2018-03-28 15:00] aedobbyn commented on #88
@maelle I *love* this idea!

[2018-03-28 15:27] aedobbyn commented on #88
Got it, thanks @maelle!

[2018-03-28 15:27] #88 closed

[2018-03-29 14:23] maelle commented on #100
I hope the blog post will bring new users to the package !

[2018-03-29 14:51] aedobbyn commented on #100
Yes! 🤞

[2018-03-30 18:05] #107 closed

[2018-03-30 18:07] aedobbyn commented on #78
Added a few bullets to [NEWS](https://github.com/ropensci/monkeylearn/blob/dev/NEWS.md); looped `verbose` bullets into discussions of the new functions but can pull them out if it's worth a separate bullet.

[2018-04-01 13:30] maelle commented on #78
Looks good, thanks!

[2018-04-01 13:30] #78 closed

[2018-04-01 13:30] #80 closed

[2018-04-01 13:31] #75 closed

[2018-04-01 13:33] #65 closed

[2018-04-03 03:34] aedobbyn commented on #78
@maelle seems like maybe an answer to our quandry? Would mean I'd need to make more informative commit messages though 😆
https://twitter.com/krlmlr/status/980722338172932096

[2018-04-03 06:07] maelle commented on #78
I know right :joy:

[2018-04-04 05:48] maelle commented on #107
Thanks for following up on this!

[2018-04-04 06:00] maelle opened #110 "Implement extractors endpoint as a function if/when it becomes available"

[2018-04-04 06:09] maelle opened #111 "Implement smarter rate limiting"
Cf #57

In the future we could

* Try to get the waiting time built-in in the 429 error responses.

* Hit an endpoint if/when it becomes available, that'd return the rate(s) associated to the API key, memoise the result, and then use it in the whole R session.

I've also just realized that all our rate limiting efforts will fail if users open several R sessions and use `monkeylearn` in it, but in

[2018-04-04 07:47] #57 closed

[2018-04-04 08:06] maelle commented on #70
Done! 🎊

[2018-04-04 08:06] #70 closed

[2018-04-04 08:12] maelle opened #114 "update codemeta.json"

[2018-04-05 20:21] aedobbyn opened #116 "Gracefully handle 422 errors"

[2018-04-05 21:10] aedobbyn commented on #63
Current plan is to use [`cowsay`](https://twitter.com/eco_desi/status/981778041306148864)

(see https://twitter.com/ma_salmon/status/981983313693945859)

[2018-04-06 18:14] aedobbyn opened #117 "Add ability to assign multiple classifications/extractions to the same input text in one call"

[2018-04-06 18:14] aedobbyn commented on #117
Not sure if MonkeyLearn will support this an there may not be a huge demand for it

[2018-04-09 00:54] aedobbyn opened #118 "Add example of using the new functions in the wild"
- To README
- To vignette

[2018-04-09 08:24] maelle commented on #116
not sure about "gracefully" though 😹

[2018-04-09 08:24] #116 closed

[2018-04-09 19:41] #118 closed

[2018-04-09 22:52] aedobbyn commented on #116
I wonder how to set up a test for this...any ideas?

[2018-04-10 04:53] maelle commented on #116
Yes yes cf #41 I want to replace `httr` by `crul` in the next version and use `webmockr` to produce errors. 😀

[2018-04-10 04:54] maelle commented on #41
Mostly `webmockr`. Replace `httr` with `crul` because `webmockr` only works with `crul`, and add tests with http errors mocked by `webmockr`.

[2018-04-10 04:54] aedobbyn commented on #116
Ahhh cool you're a (or many) steps ahead of me!

[2018-04-10 04:54] maelle commented on #63
Very well done @aedobbyn 🎉

[2018-04-10 04:54] #63 closed

[2018-04-10 04:59] aedobbyn commented on #63
All credit to @sckott for *the* most important R package to date!

[2018-04-10 05:59] sckott commented on #63
glad its useful!

[2018-04-11 13:44] aedobbyn opened #125 "small readme typo"
opencage instead of monkeylearn

[2018-04-11 13:47] maelle commented on #125
🙈

[2018-04-11 15:28] aedobbyn commented on #125
^ such an excellent emoji

[2018-04-11 23:04] #125 closed

[2018-04-11 23:04] aedobbyn opened #127 "Add CRAN install option to readme"

[2018-04-12 02:34] #127 closed

[2018-04-12 05:35] maelle commented on #127
thx!

[2018-04-14 18:30] aedobbyn opened #129 "Add R-centric way to train a custom MonkeyLearn module"
Haven't looked into what this would entail yet!

https://monkeylearn.com/blog/how-to-create-text-classifiers-machine-learning/

[2018-04-23 16:58] sckott opened #131 "Please use git tags and release notes"
Could you please make sure to git tag each CRAN release https://github.com/ropensci/monkeylearn/tags - looks like you've tagged the first CRAN release, but have missed the last two

And plop in associated NEWS items for each release - thanks! e.g., https://github.com/ropensci/taxize/releases/tag/v0.9.3

These two things make it easier for people to find the associated changes with each new version

[2018-04-23 17:10] maelle commented on #131
Good catch thx a ton! Now done https://github.com/ropensci/monkeylearn/releases/tag/V0.2.0

[2018-04-23 17:10] #131 closed

[2018-05-02 18:28] aedobbyn opened #133 "Endpoint for listing extractors"
Now available in v3

[2018-05-02 18:28] aedobbyn opened #134 "Integrate with v3 API"
https://monkeylearn.com/api/v3/ (requires auth)

[2018-05-02 18:29] aedobbyn opened #135 "Take out empty strings that are more than a single empty space"
E.g. if data is "       " we should handle the same as " "

[2018-06-04 10:03] aedobbyn opened #136 "Add .gitattributes file"
Containing

[code]

as per https://twitter.com/SuzanBaert/status/987622555681984513

😺

[2018-06-04 10:34] maelle commented on #136
No need to though, isn't this repo already classified as R? 🤔

[2018-06-04 10:38] aedobbyn commented on #136
Ah you're right, I was looking at my fork!

[2018-06-04 10:38] #136 closed

[2018-06-04 10:53] maelle commented on #136
Ah interesting! Good thinking in any case, I've made quite a few PRs with linguist stuff last week so I'm happy you thought about this 😸

[2018-06-04 10:59] aedobbyn commented on #136
😄 it's been on my todo list for forever, such a neat little trick!

[2018-06-04 11:01] maelle commented on #136
I've used for ropensci repos that had docs in non standard places e.g. https://github.com/ropensci/ecoengine/pull/95 and that had JS code that wasn't from the repo https://github.com/ropensci/wellknown/pull/26

[2018-06-04 11:04] aedobbyn commented on #136
Ahh very cool. I guess GitHub goes by total summed file size rather than by number of files with a certain extension. Probably makes more sense to do the latter, imo

[2018-06-04 11:28] maelle commented on #136
Interesting, not sure which one I prefer. What annoys me is that the classification of a repo is binary. For R packages with a lot of C++ code it's great to have them discoverable by their containing C++ code of course but it's not very cool to have them classified as C++ repo... Btw I added the "r" and "rstats" topics to all ropensci packages, so at least one can search "topic:r" if not "language

[2018-06-04 13:56] aedobbyn commented on #136
Oh nice!! You've thought a lot about this I can see 😄 I wish we could tag @github here...

[2018-06-08 08:56] Arf9999 opened #137 "More info on http errors available?"
Can someone point out how to identify the http errors received.

I've just installed monkeylearn and have tried to classify a column from an existing dataframe. On the first run it classified the first 200 (of 1168), and then failed with with http errors for subsequent 200 iterations. Then the `cbind` failed due to mismatch of rows.

After checking API key, classifier, syntax looks correct, I've t

[2018-06-09 10:15] aedobbyn commented on #137
@Arf9999 thanks for submitting this issue. You bring up a good point that providing more HTTP error information will be useful for users. Unfortunately, all I can tell from the error you got was that the status code was >= 400.

Just to check off the bat, did you create your own API key on MonkeyLearn and follow the [setup instructions](http://ropensci.github.io/monkeylearn/articles/monkeylearn_in

[2018-06-09 18:40] Arf9999 commented on #137
Thanks for your response.

I managed to find out what the error was (my team had exhausted the API calls!), but I think it would be great if the error response listed the error code.

Thank you for the advice regarding the alternative version.

Closing this.

[2018-06-09 18:40] #137 closed

[2018-06-09 22:52] aedobbyn commented on #137
@Arf9999 that's a bummer. If you like, can talk to our MonkeyLearn contacts to try to get you some more API calls since it was a limitation of the package that caused them to be used unnecessarily.

Now that you figured it out, what was the error you received?

[2018-06-10 06:52] Arf9999 commented on #137
I don't know what the error was, I'm guessing 403. But shortly after posting the question, I received the update email from Monkeylearn to inform me what the issue was.

Thanks for the offer to reach out to them, but that's really not required.

[2018-06-10 17:31] aedobbyn commented on #137
Thanks for the heads up, and let me know if you change your mind.

[2018-06-10 21:49] aedobbyn commented on #133
Added in https://github.com/ropensci/monkeylearn/blob/T134-v3/R/extractors.R

[2018-06-10 21:49] #133 closed

[2020-09-17 14:12] CDunhill opened #140 "monkey_classify error"
I'm getting this error message with the R package:

Warning: `cols` is now required when using unnest(). Please use `cols = c(res)`

This happens with any classifier, eg. Sentiment, id: **cl_pi3C7JiL**

[2020-09-17 14:52] maelle commented on #140
@aedobbyn :wave:! Would you have time to look at the warning above? No worries if not.

@CDunhill Thanks for the bug report!

[2020-09-17 15:20] CDunhill commented on #140
NP... apologies in advance if it's something I've done wrong!

[2020-09-17 15:22] maelle commented on #140
no no it's most certainly this package not keeping up to date with tidyr evolutions!

[2020-09-22 11:49] maelle opened #142 "Archive monkeylearn"
Are you an user of monkeylearn? Interested in taking over maintenance?

The current maintainer would be available for questions (but I'm no monkeylearn user which is a big limitation).

Thanks!

Cc @aedobbyn

[2020-12-08 12:36] maelle commented on #142
requesting archival on CRAN

[2020-12-08 12:48] maelle commented on #140
monkeylearn has now been archived as no new maintainer could be found.

Someone could still volunteer to take it over / write a new one. https://devguide.ropensci.org/curationpolicy.html

[2020-12-08 12:48] #140 closed

[2020-12-08 12:48] maelle commented on #26
monkeylearn has now been archived as no new maintainer could be found.

Someone could still volunteer to take it over / write a new one. https://devguide.ropensci.org/curationpolicy.html

[2020-12-08 12:48] #26 closed

[2020-12-08 12:48] maelle commented on #46
monkeylearn has now been archived as no new maintainer could be found.

Someone could still volunteer to take it over / write a new one. https://devguide.ropensci.org/curationpolicy.html

[2020-12-08 12:48] #46 closed

[2020-12-08 12:48] maelle commented on #111
monkeylearn has now been archived as no new maintainer could be found.

Someone could still volunteer to take it over / write a new one. https://devguide.ropensci.org/curationpolicy.html

[2020-12-08 12:48] #111 closed

[2020-12-08 12:48] maelle commented on #114
monkeylearn has now been archived as no new maintainer could be found.

Someone could still volunteer to take it over / write a new one. https://devguide.ropensci.org/curationpolicy.html

[2020-12-08 12:48] #114 closed

[2020-12-08 12:49] maelle commented on #110
monkeylearn has now been archived as no new maintainer could be found.

Someone could still volunteer to take it over / write a new one. https://devguide.ropensci.org/curationpolicy.html

[2020-12-08 12:49] #110 closed

[2020-12-08 12:49] maelle commented on #41
monkeylearn has now been archived as no new maintainer could be found.

Someone could still volunteer to take it over / write a new one. https://devguide.ropensci.org/curationpolicy.html

[2020-12-08 12:49] #41 closed

[2020-12-08 12:49] maelle commented on #117
monkeylearn has now been archived as no new maintainer could be found.

Someone could still volunteer to take it over / write a new one. https://devguide.ropensci.org/curationpolicy.html

[2020-12-08 12:49] #117 closed

[2020-12-08 12:49] maelle commented on #129
monkeylearn has now been archived as no new maintainer could be found.

Someone could still volunteer to take it over / write a new one. https://devguide.ropensci.org/curationpolicy.html

[2020-12-08 12:49] #129 closed

[2020-12-08 12:49] maelle commented on #134
monkeylearn has now been archived as no new maintainer could be found.

Someone could still volunteer to take it over / write a new one. https://devguide.ropensci.org/curationpolicy.html

[2020-12-08 12:49] #134 closed

[2020-12-08 12:49] maelle commented on #135
monkeylearn has now been archived as no new maintainer could be found.

Someone could still volunteer to take it over / write a new one. https://devguide.ropensci.org/curationpolicy.html

[2020-12-08 12:49] #135 closed

[2020-12-08 12:49] maelle commented on #142
monkeylearn has now been archived as no new maintainer could be found.

Someone could still volunteer to take it over / write a new one. https://devguide.ropensci.org/curationpolicy.html

[2020-12-08 12:49] #142 closed